{
  "7566690": {
    "name": "Anvil",
    "chain": "anvil",
    "rpc": ["http://{{DOMAIN}}"],
    "faucets": [],
    "nativeCurrency": {
      "name": "vITALIC",
      "symbol": "vITALIC",
      "decimals": 18
    },
    "infoURL": "https://book.getfoundry.sh",
    "shortName": "anvil",
    "chainId": {{CHAIN_ID}},
    "networkId": {{CHAIN_ID}},
    "slip44": 60,
    "explorers": [],
    "supported": true
  }
}
