{
	"erigonURL": "https://{{DOMAIN}}",
	"beaconAPI": "",
	"assetsURLPrefix": "",
	"experimental": "",
	"chainInfo": {
		"name": "{{CHAIN_NAME}}",
		"faucets": "https://faucet.{{DOMAIN}}",
		"nativeCurrency": {
			"name": "{{ETH_NAME}}",
			"symbol": "{{ETH_SYMBOL}}",
			"decimals": 18
		}
	},
	"sourcifySources": {
		"ipfs": "https://sourcify.{{DOMAIN}}/repository",
		"central_server": "https://sourcify.{{DOMAIN}}/repository"
	}
}
