{
	"erigonURL": "http://{{DOMAIN}}",
	"beaconAPI": "",
	"assetsURLPrefix": "",
	"experimental": "",
	"chainInfo": {
		"name": "Italic",
		"faucets": "http://faucet.{{DOMAIN}}",
		"nativeCurrency": {
			"name": "Subvisual",
			"symbol": "SUBS",
			"decimals": 18
		}
	},
	"sourcifySources": {
		"ipfs": "http://sourcify.{{DOMAIN}}/repository",
		"central_server": "http://sourcify.{{DOMAIN}}/repository"
	}
}
