# vim: set syntax=yaml:
entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  resolver:
    acme:
      email: mpalhas@gmail.com
      caServer: https://acme-staging-v02.api.letsencrypt.org/directory
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entrypoint: web

api:
  dashboard: true

log:
  level: DEBUG
